<div class='wrapper'>
  <div class='top'>
    <div class='username'>
      <h2>Welcome <%= session[:user_name] %>!</h2>
    </div>
    <div class='logout'>
      <a href='/users/<%= session[:user_id] %>/edit'>Edit Profile</a>&emsp;
      <a href='/sessions/<%= session[:user_id] %>' data-method='delete'><button>Log Out</button></a>
    </div>
    <div class='secrets'>
      <div class='list'>
        <h1>Secrets</h1>
        <% if @posts != nil %>
          <% @posts.each do |post| %>
            <table>
              <tr>
                <td><%= post.content %></td>
                <td>
                  <% if current_user == post.user %>
                    <a href='/posts/<%= post.id %>' data-method='delete'><button>Delete</button></a>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= post.likes.count(:user_id) %> likes
                </td>
                <td>
                  <% if post.likes.any? {|like| like.user_id == @user.id} %>
                    <form action='/likes/update' method='post'>
                      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                      <input type='hidden' name='like' value='unlike'>
                      <input type='hidden' name='post_id' value='<%= post.id %>'>
                      <input type='submit' value='Unlike'>
                    </form>
                  <% else %>
                    <form action='/likes/update' method='post'>
                      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                      <input type='hidden' name='like' value='like'>
                      <input type='hidden' name='post_id' value='<%= post.id %>'>
                      <input type='submit' value='Like'>
                    </form>
                  <% end %>
                </td>
              </tr>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
