<div class='wrapper'>
  <div class='user_form'>
    <% if flash[:failed] %>
      <p><font color='red'><%= flash[:failed] %></font></p>
    <% end %>
    <form action='/users' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <table>
        <tr>
          <td>Email</td><td><input type='text' name='user[email]'></td>
        </tr>
        <tr>
          <td>Name</td><td><input type='text' name='user[name]'></td>
        </tr>
        <tr>
          <td>Password</td><td><input type='password' name='user[password]'></td>
        </tr>
        <tr>
          <td>Password Confirmation</td><td><input type='password' name='user[password_confirmation]'></td>
        </tr>
        <tr>
          <td colspan='2' align='right'><input type='submit' value='Join'></td>
        </tr>
        <% if flash[:email] %>
          <tr>
            <td colspan='2'><span>Email <%= flash[:email][0] %></span></td>
          </tr>
        <% end %>
        <% if flash[:name] %>
          <tr>
            <td colspan='2'><span>Name <%= flash[:name][0] %></span></td>
          </tr>
        <% end %>
        <% if flash[:password] %>
          <tr>
            <td colspan='2'><span>Password <%= flash[:password][0] %></span></td>
          </tr>
        <% end %>
        <% if flash[:password_confirmation] %>
          <tr>
            <td colspan='2'><span>Confirmed password <%= flash[:password_confirmation][0] %></span></td>
          </tr>
        <% end %>
      </table>
    </form>
  </div>
</div>
