<div class='wrapper'>
  <div class='top'>
    <div class='username'>
      <h2>Welcome <%= session[:user_name] %>!</h2>
    </div>
    <div class='logout'>
      <a href='/users/<%= session[:user_id] %>/edit'>Edit Profile</a>&emsp;
      <a href='/sessions/<%= session[:user_id] %>' data-method='delete'><button>Log Out</button></a>
    </div>
    <div class='create'>
      <form action='/posts' method='post'>
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <table>
          <tr>
            <td>New Secret</td>
          </tr>
          <tr>
            <td><textarea rows='5' name='post[content]'></textarea></td>
          </tr>
          <tr>
            <td align='right'><input type='submit' value='Create Secret'></td>
          </tr>
        </table>
      </form>
    </div>
    <div class='secrets'>
      <div class='list'>
        <p>Secrets</p>
        <% if @posts != nil %>
          <% @posts.each do |post| %>
            <% if post.user == current_user %>
              <table>
                <tr>
                  <td><%= post.content %></td>
                  <td>
                    <a href='/posts/<%= post.id %>' data-method='delete'><button>Delete</button></a>
                  </td>
                </tr>
                <tr>
                  <td><%= post.likes.count %> likes</td>
                </tr>
              </table>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class='liked'>
        <p>Secrets Liked</p>

      </div>
    </div>
  </div>
</div>
