<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- <script type="text/javascript">
    $(document).ready(function(){
      <%= yield :jquery %>
    });
  </script> -->
  <%= yield :jquery_code %>
</head>
<body>
  <%= yield :title %>
  <%= yield :body %>
  <!-- <div class='container'>
    <div id='left_column'><%= yield :left_column %></div>
    <div id='right_column'><%= yield :right_column %></div>
  </div> -->
</body>
</html>
